.admin-dash-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:15px;

  .stat-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
  }
}
